html, body {
    margin: 0;
    height: 100%;
  }
#app {
    width: 100%;
    height: 100%;
    display: block;
}
#title {
	position: absolute;
	top: 70px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display: block;
    color: black;
	font-family: "OCR A Std", monospace;
	font-size: 80px;
}


.button {
    color: black;
    display: block;
	font-family: "OCR A Std", monospace;
	font-size: 40px;
}

#button1 {
	position: absolute;
	top: 260px;
	width: 100%;
	text-align: center;
	z-index: 100;
}
#button2 {
	position: absolute;
	top: 300px;
	width: 100%;
	text-align: center;
	z-index: 100;
}
#button3 {
	position: absolute;
	top: 340px;
	width: 100%;
	text-align: center;
	z-index: 100;
}