Reset some default styles
body, h1, h3, p, label, input, button, a {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

a {
    text-decoration: none;
    color: #007bff;
	font-family: "OCR A Std", monospace;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    /* position: absolute;
	top: 70px; */
	width: 100%;
	text-align: center;
	z-index: 100;
	display: block;
    color: black;
	font-family: "OCR A Std", monospace;
	font-size: 80px;
}

h3 {
    color: black;
	font-family: "OCR A Std", monospace;
    font-size: 20px;
    margin-bottom: 10px;
    margin: auto;
    text-align: center;
}

label {
    color: black;
	font-family: "OCR A Std", monospace;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

#map_name {
    width: 30%;
    margin: auto;
}

input[type="text"],
input[type="file"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
	font-family: "OCR A Std", monospace;
}

button {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    color: black;
	font-family: "OCR A Std", monospace;
    width: 100px;
    margin: auto;
}


button:hover {
    background-color: #0056b3;
}

#output_text {
    font-style: italic;
}

.scripts {
    margin-top: 20px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}